
  body{
    background-color: #EAF6F6;
  }
  hr{

    border-style: none;
    border-top-style: dotted;
    border-width:5px;
    border-color: grey;
    height:0px;
    width:30%;
  }
  h1{
    color:#6EDCD9;
  }
  h3{
    color: #6EDCD9;
  }
 h2{
   color: #6EDCD9;
 }
